.RegisterForm {
  .header {
    padding: 15px 0;
    border-bottom: 1px solid gray;
    .link {
      width: 70%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: end;
      a {
        color: rgb(35, 166, 240);
        font-family: Rubik;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        &:hover {
          color: black;
          transition: 0.4s;
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .formGroup {
      width: clamp(380px, 44vw, 480px);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: rgb(0, 0, 0);
        font-family: Rubik;
        font-size: clamp(28px, 5vw, 40.18px);
        font-weight: 500;
      }
      .form {
        margin-top: 27px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .textField {
          position: relative;

          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 3px;
          .error {
            color: red;
            font-size: 12px;
          }
          label {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: 16.74px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
          }
          input {
            height: 44px;
            box-sizing: border-box;
            border: 0.84px solid rgba(0, 0, 0, 0.4);
            border-radius: 6.7px;
            padding: 10px;
            font-family: Rubik;
            font-size: 16.74px;
            font-weight: 400;
            &::placeholder {
              color: rgba(0, 0, 0, 0.5);
              font-family: Rubik;
              font-size: 16.74px;
              font-weight: 400;
              text-align: left;
            }
          }
          .eye {
            bottom: 13px;
            right: 20px;
            position: absolute;
            cursor: pointer;
            svg {
              font-size: 18px;
            }
          }
        }
      }
      .check {
        width: 99%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        input {
          width: 15px;
          height: 15px;
        }
        span {
          color: rgb(0, 0, 0);
          font-family: Rubik;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
        }
      }
      .submit {
        width: 100%;
        height: 45px;
        border-radius: 12px;
        background: rgb(35, 166, 240);
        border: none;
        color: rgb(255, 255, 255);
        font-family: Rubik;
        font-size: 18px;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          background-color: rgb(0, 51, 154);
          color: #ffff;
        }
      }
      .google_facebook {
        margin-top: 16px;
        width: 100%;
        .or {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          .line {
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.5);
          }
          p {
            color: rgba(0, 0, 0, 0.5);
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
          }
        }
        .action {
          margin-top: 16px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          button {
            width: 100%;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border: 0.84px solid rgb(52, 139, 202);
            border-radius: 5.86px;
            background-color: transparent;
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 500;
            transition: 0.3s;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                font-size: 20px;
              }
            }
            &:hover {
              transition: 0.3s;
              background-color: rgb(52, 139, 202);
              color: #ffff;
            }
          }
        }
      }
    }
  }
  button {
    cursor: pointer;
  }
}
