.Marketing2 {
  .content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    @media (max-width: 428px) {
      gap: 30px;
    }
    .block1 {
      display: flex;
      justify-content: space-between;
      .p {
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
        letter-spacing: -0.01em;
        @media (max-width: 428px) {
          display: none;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h1 {
          font-family: Rubik;
          font-size: 50px;
          font-weight: 700;
          line-height: 70px;
          @media (max-width: 428px) {
            font-size: 24px;
            line-height: 30px;
            text-align: center;
          }
        }
        p {
          text-align: center;
          width: 555px;
          height: 60px;
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          @media (max-width: 428px) {
            width: 379px;
            height: 54px;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
          }
          @media (max-width: 391px) {
            width: 350px;
          }
          @media (max-width: 376px) {
            width: 330px;
          }
          @media (max-width: 360px) {
            width: 320px;
          }
          @media (max-width: 320px) {
            width: 310px;
          }
        }
      }
    }
    .block2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .blockImg {
        display: flex;
        gap: 34px;
        @media (max-width: 428px) {
          flex-direction: column;
        }
        .img {
          width: 457px;
          height: 500px;
          @media (max-width: 428px) {
            width: 390px;
            height: 440px;
          }
          @media (max-width: 415px) {
            width: 370px;
          }
          @media (max-width: 391px) {
            width: 350px;
          }
          @media (max-width: 376px) {
            width: 330px;
            height: 400px;
          }
          @media (max-width: 360px) {
            width: 320px;
          }
          @media (max-width: 320px) {
            width: 290px;
          }
        }
        .texts {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 20px;
          h1 {
            font-family: Rubik;
            font-size: 36px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0.10000000149011612px;
            @media (max-width: 1115px) {
              font-size: 26px;
            }
            @media (max-width: 428px) {
              font-size: 24px;
              line-height: 30px;
              text-align: left;
            }
          }
          .description {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
            @media (max-width: 1115px) {
              gap: 12px;
            }
            p {
              width: 653px;
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.86px;
              @media (max-width: 1115px) {
                width: 460;
                font-size: 14px;
                line-height: 20px;
              }
              @media (max-width: 884px) {
                width: 450px;
              }
              @media (max-width: 428px) {
                width: 390px;
                font-size: 16px;
                line-height: 22.86px;
              }
              @media (max-width: 415px) {
                width: 370px;
              }
              @media (max-width: 391px) {
                width: 350px;
              }
              @media (max-width: 376px) {
                width: 330px;
              }
              @media (max-width: 360px) {
                width: 320px;
              }
              @media (max-width: 320px) {
                width: 290px;
              }
              span {
                width: 650px;
                font-family: Rubik;
                font-size: 16px;
                font-weight: 500;
                line-height: 22.86px;
                @media (max-width: 1115px) {
                  width: 460;
                  font-size: 14px;
                  line-height: 20px;
                }
                @media (max-width: 428px) {
                  font-size: 16px;
                  line-height: 22.86px;
                }
              }
            }
          }
        }
      }
      .more {
        display: none;
        @media (max-width: 428px) {
          display: flex;
          justify-content: center;
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.96px;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
      .paragrav {
        width: 1140px;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.86px;
        @media (max-width: 1115px) {
          width: 1000px;
          font-size: 14px;
          line-height: 20px;
        }
        @media (max-width: 884px) {
          width: 920px;
        }
        @media (max-width: 428px) {
          display: none;
        }
      }
      button {
        width: 335px;
        height: 52px;
        margin-top: 64px;
        margin-left: 455px;
        border-radius: 5px;
        border: none;
        background: #23a6f0;
        font-family: Rubik;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.20000000298023224px;
        color: #ffffff;
        @media (max-width: 428px) {
          margin-top: 30px;
          margin-left: 20px;
        }
        @media (max-width: 391px) {
          margin-left: 0;
        }
        @media (max-width: 376px) {
          width: 310px;
        }
        @media (max-width: 360px) {
          width: 317px;
        }
        @media (max-width: 320px) {
          width: 300px;
        }
      }
    }
    .block3 {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .blockText {
        display: flex;
        flex-direction: column;
        gap: 20px;
        hr {
          width: 100%;
        }
        .text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.4000000059604645px;
          }
          .icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #23a6f0;
            color: white;
            @media (max-width: 428px) {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .blockImgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 428px) {
          flex-wrap: wrap;
          gap: 10px;
        }
        @media (max-width: 360px) {
          gap: 20px;
        }
        .blockText1 {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 12px;
          @media (max-width: 1115px) {
            gap: 14px;
          }
          @media (max-width: 428px) {
            gap: 0;
          }
          @media (max-width: 360px) {
            gap: 8px;
          }
          .coursesImg {
            position: relative;
            .img {
              width: 341px;
              height: 170px;
              @media (max-width: 1115px) {
                width: 300px;
              }
              @media (max-width: 428px) {
                width: 180px;
                height: 100px;
              }
              @media (max-width: 391px) {
                width: 170px;
              }
              @media (max-width: 376px) {
                width: 160px;
                height: 90px;
              }
              @media (max-width: 360px) {
                width: 320px;
                height: 170px;
              }
              @media (max-width: 320px) {
                width: 300px;
                height: 170px;
              }
            }
            .coursesVideo {
              position: absolute;
              top: 37%;
              left: 44%;
              width: 40px;
              height: 40px;
              background: #23a6f0;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              @media (max-width: 428px) {
                width: 28.85px;
                height: 28.85px;
                top: 34.64px;
                left: 80.7px;
                border-radius: 22.62px;
              }
              @media (max-width: 360px) {
                top: 37%;
                left: 44%;
                width: 40px;
                height: 40px;
              }
              .icon1 {
                display: none;
              }
              .icon2 {
                font-size: 20px;
                color: white;
                @media (max-width: 428px) {
                  font-size: 14px;
                }
                @media (max-width: 360px) {
                  font-size: 20px;
                }
              }
            }
            .coursesTime {
              width: 65px;
              height: 23px;
              position: absolute;
              top: 134px;
              left: 11px;
              padding: 4px 6px 4px 6px;
              gap: 0px;
              border-radius: 8px;
              background: #00000080;
              @media (max-width: 428px) {
                width: 50px;
                top: 65.23px;
                left: 5.18px;
                border-radius: 3.77px;
              }
              @media (max-width: 360px) {
                width: 65px;
                height: 23px;
                top: 134px;
                left: 11px;
              }
              p {
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: -0.20000000298023224px;
                color: #ffffff;
                @media (max-width: 428px) {
                  font-size: 10px;
                }
                @media (max-width: 360px) {
                  font-size: 13px;
                }
              }
            }
            &:hover {
              .icon1 {
                display: flex;
                font-size: 20px;
                color: white;
              }
              .icon2 {
                display: none;
              }
            }
          }
          p {
            color: #00000080;
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: -0.6000000238418579px;
            @media (max-width: 428px) {
              font-size: 7.54px;
              line-height: 10.84px;
              letter-spacing: -0.2828080356121063px;
            }
            @media (max-width: 360px) {
              font-size: 12px;
            }
          }
          h4 {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.10000000149011612px;
            color: #000000;
            @media (max-width: 1115px) {
              font-size: 16px;
            }
            @media (max-width: 428px) {
              font-size: 9.43px;
              line-height: 11.31px;
              letter-spacing: 0.04713467136025429px;
            }
            @media (max-width: 360px) {
              font-size: 15px;
            }
          }
        }
      }
      .blockCourses11 {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 428px) {
          gap: 10px;
        }
        hr {
          width: 100%;
          border: 1px solid rgb(232, 232, 232);
        }
        .block12 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.4000000059604645px;
            @media (max-width: 428px) {
              font-size: 12px;
              line-height: 12.26px;
              letter-spacing: -0.18853868544101715px;
            }
          }
          .icon {
            width: 32px;
            height: 32px;
            padding: 4px;
            border-radius: 48px;
            background: #0000000d;
            @media (max-width: 428px) {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
