.About {
  margin-top: 150px;
  .content {
    display: flex;
    flex-direction: column;
    .block1 {
      display: flex;
      align-items: center;
      position: relative;
      @media (max-width: 428px) {
        flex-direction: column;
      }
      p {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 780px;
        height: 156px;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.10000000149011612px;
        @media (max-width: 1115px) {
          font-size: 26px;
        }
        @media (max-width: 428px) {
          top: 26pc;
          width: 373px;
          height: 175px;
          font-size: 24px;
          font-weight: 700;
          line-height: 35px;
          letter-spacing: 0.10000000149011612px;
          text-align: center;
        }
        @media (max-width: 391px) {
          top: 24pc;
          font-size: 20px;
          width: 340px;
        }
        @media (max-width: 376px) {
          width: 330px;
        }
        @media (max-width: 360px) {
          top: 20pc;
          width: 310px;
        }
        @media (max-width: 360px) {
          width: 300px;
        }
      }
      .block {
        position: absolute;
        left: 650px;
        position: relative;
        width: 387px;
        height: 387px;
        background: #96c9e5;
        border-radius: 50%;
        @media (max-width: 1115px) {
          left: 460px;
        }
        @media (max-width: 1115px) {
          width: 347px;
          height: 347px;
        }
        @media (max-width: 428px) {
          width: 300px;
          height: 300px;
          top: 0;
          left: 0;
        }
        @media (max-width: 391px) {
          width: 270px;
          height: 270px;
        }
        @media (max-width: 376px) {
          width: 250px;
          height: 250px;
        }
        @media (max-width: 360px) {
          width: 240px;
          height: 240px;
        }

        .img {
          width: 500.9px;
          height: 500.9px;
          position: absolute;
          top: 0;
          right: -60px;
          @media (max-width: 428px) {
            width: 440px;
            height: 440px;
          }
          @media (max-width: 391px) {
            width: 390px;
            height: 390px;
          }
          @media (max-width: 360px) {
            width: 320px;
            height: 320px;
            right: -40px;
          }
          @media (max-width: 320px) {
            width: 330px;
            height: 330px;
          }
        }
      }
    }
    .blockImg {
      margin: 90px 0 200px 0;
      display: flex;
      align-items: start;
      gap: 26pc;
      @media (max-width: 1280px) {
        gap: 30%;
      }
      @media (max-width: 1115px) {
        flex-direction: column;
        align-items: start;
        gap: 40px;
      }
      @media (max-width: 428px) {
        margin: 22pc 0 0 0;
        gap: 30px;
      }
      @media (max-width: 391px) {
        gap: 20px;
      }
      @media (max-width: 376px) {
        gap: 10px;
      }
      @media (max-width: 360px) {
        margin-top: 20pc;
        gap: 10px;
      }
      .imgWrapper {
        position: relative;
        .img {
          width: 247px;
          height: 442px;
          border-radius: 12px;
          @media (max-width: 1115px) {
            width: 367px;
            height: 542px;
          }
          @media (max-width: 428px) {
            width: 174px;
            height: 284.51px;
          }
          @media (max-width: 391px) {
            width: 160px;
          }
          @media (max-width: 360px) {
            width: 150px;
          }
          @media (max-width: 320px) {
            width: 134px;
          }
        }
        .imgOverlay {
          position: absolute;
          top: 10pc;
          left: 21pc;
          @media (max-width: 1280px) {
            left: 110%;
          }
          @media (max-width: 1115px) {
            left: 160%;
          }
          @media (max-width: 884px) {
            left: 130%;
          }
          @media (max-width: 428px) {
            left: 13pc;
            top: 120px;
          }
          @media (max-width: 391px) {
            left: 12pc;
            top: 120px;
          }
          @media (max-width: 376px) {
            left: 11pc;
          }
          @media (max-width: 360px) {
            left: 10.5pc;
          }
          @media (max-width: 320px) {
            left: 9pc;
          }
        }
      }
      .imgWrapper1 {
        position: relative;
        .img {
          width: 247px;
          height: 442px;
          border-radius: 12px;
          @media (max-width: 1115px) {
            width: 367px;
            height: 542px;
          }
          @media (max-width: 428px) {
            width: 174px;
            height: 284.51px;
          }
          @media (max-width: 391px) {
            width: 160px;
          }
          @media (max-width: 360px) {
            width: 150px;
          }
          @media (max-width: 320px) {
            width: 134px;
          }
        }
        .imgOverlay {
          position: absolute;
          top: 10pc;
          right: -20.8pc;
          @media (max-width: 1280px) {
            left: 110%;
          }
          @media (max-width: 1115px) {
            left: 160%;
          }
          @media (max-width: 884px) {
            left: 130%;
          }
          @media (max-width: 428px) {
            left: 13pc;
            top: 120px;
          }
          @media (max-width: 391px) {
            left: 12pc;
            top: 120px;
          }
          @media (max-width: 376px) {
            left: 11pc;
          }
          @media (max-width: 360px) {
            left: 10.5pc;
          }
          @media (max-width: 320px) {
            left: 9pc;
          }
        }
      }
    }
    .founder {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      @media (max-width: 428px) {
        margin-top: 10pc;
      }

      h1 {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.10000000149011612px;
        @media (max-width: 428px) {
          font-size: 24px;
        }
        @media (max-width: 320px) {
          font-size: 30px;
        }
      }
      .story {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .textImg {
          display: flex;
          gap: 30px;
          @media (max-width: 428px) {
            flex-direction: column;
          }
          @media (max-width: 376px) {
          }
          .img {
            width: 459px;
            height: 489px;
            border-radius: 100px 0px 100px 0px;
            @media (max-width: 1115px) {
              width: 409px;
              height: 439px;
            }
            @media (max-width: 884px) {
              width: 370px;
              height: 429px;
            }
            @media (max-width: 428px) {
              width: 340px;
              margin-left: 16px;
            }
            @media (max-width: 376px) {
              width: 320px;
            }
            @media (max-width: 360px) {
              width: 300px;
            }
            @media (max-width: 320px) {
              width: 270px;
            }
          }
          p {
            width: 655px;
            height: 475px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 35.86px;
            @media (max-width: 1115px) {
              width: 539px;
              height: 239px;
              font-size: 19px;
              line-height: 30px;
            }
            @media (max-width: 884px) {
              width: 459px;
              height: 239px;
              font-size: 17px;
              line-height: 28px;
            }
            @media (max-width: 428px) {
              width: 350px;
              height: 778px;
              font-size: 20px;
              line-height: 29.88px;
              text-align: center;
            }
            @media (max-width: 376px) {
              width: 300px;
              height: 878px;
              font-size: 20px;
              line-height: 29.88px;
              text-align: center;
            }
            @media (max-width: 360px) {
              width: 320px;
              height: 780px;
            }
          }
        }
        .more {
          display: none;
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.96px;
          text-align: center;
          text-decoration-line: underline;
          color: #00000066;
          @media (max-width: 428px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        span {
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 400;
          line-height: 35.86px;
          @media (max-width: 1115px) {
            font-size: 19px;
            line-height: 30px;
          }
          @media (max-width: 884px) {
            font-size: 17px;
            line-height: 28px;
          }
          @media (max-width: 428px) {
            display: none;
          }
          @media (max-width: 391px) {
            width: 340px;
            line-height: 23px;
          }
          @media (max-width: 376px) {
            width: 330px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
