* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  padding: 0 20px;
  @media (max-width: 1280px) {
    max-width: 1152px;
  }
  @media (max-width: 1115px) {
    max-width: 1000px;
  }
}
