.Section4 {
  padding: 60px 0;
  margin-top: 70px;

  .title {
    color: #0b132a;
    font-family: Rubik, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
    text-align: center;
    @media (max-width: 428px) {
      font-size: 24px;
      letter-spacing: 0%;
      text-align: center;
    }
  }

  .description {
    width: 555px;
    height: 60px;
    color: #4f5665;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 70px;
    text-align: center;
    @media (max-width: 428px) {
      padding-left: 10px;
      width: 349px;
      height: 54px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @media (max-width: 428px) {
      gap: 25px;
    }
  }
  .show_more {
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: underline;
    text-transform: capitalize;
  }
}
