.Section3 {
  margin-top: 50px;
  .content {
    display: flex;
    gap: 20px;
    .block1 {
      width: 654px;
      height: 687px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 110px;
      .text1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
          font-family: Rubik;
          font-family: sans-serif;
          font-size: 50px;
          font-weight: 700;
          line-height: 70px;
          text-align: left;
          color: #0b132a;
        }
        p {
          width: 555px;
          height: 60px;
          font-family: Rubik;
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
          color: #4f5665;
        }
      }
      .text2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
          width: 248px;
          height: 70px;
          font-family: Rubik;
          font-family: sans-serif;
          font-size: 96px;
          font-weight: 400;
          line-height: 70px;
          text-align: left;
          color: #23a6f0;
        }
        p {
          width: 555px;
          height: 60px;
          font-family: Rubik;
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
          color: #4f5665;
        }
      }
    }
    .block2 {
      width: 640px;
      height: 687px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 100px;
      background: #f5f9fc;
      .blockText1 {
        display: flex;
        gap: 32px;
        img {
          width: 60px;
          height: 60px;
        }
        .text {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 12px;
          h5 {
            font-family: Montserrat;
            font-family: sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
          p {
            width: 349px;
            height: 40px;
            font-family: Montserrat;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;
          }
        }
      }
    }
  }
}
