.Footer {
  .content {
    .blockSearch1 {
      margin: 100px 0 100px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .blockText {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        @media (max-width: 428px) {
          gap: 0;
        }
        h1 {
          font-family: Rubik;
          font-size: 50px;
          font-weight: 700;
          line-height: 70px;
          @media (max-width: 428px) {
            font-size: 27px;
          }
          @media (max-width: 391px) {
            font-size: 25px;
          }
          @media (max-width: 320px) {
            font-size: 20px;
            line-height: 40px;
          }
        }
        p {
          width: 555px;
          height: 60px;
          text-align: center;
          font-family: Rubik;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          @media (max-width: 428px) {
            width: 348px;
            height: 54px;
            font-size: 14px;
            line-height: 18px;
          }
          @media (max-width: 391px) {
            width: 280px;
            font-size: 13px;
          }
        }
      }
      .blockSearch {
        position: absolute;
        top: 12.5pc;
        display: flex;
        align-items: center;
        @media (max-width: 320px) {
          top: 11pc;
        }
        input {
          border-radius: 7.59px 0px 0px 7.59px;
          width: 877px;
          height: 88px;
          background: white;
          border: 2px solid gray;
          outline: none;
          padding-left: 22px;
          font-size: 20px;
          @media (max-width: 1115px) {
            width: 800px;
          }
          @media (max-width: 884px) {
            width: 600px;
          }
          @media (max-width: 428px) {
            width: 250px;
            height: 50px;
            padding-left: 10px;
          }
          &::placeholder {
            font-family: Montserrat;
            font-size: 21.24px;
            font-weight: 360;
            line-height: 42.48px;
            @media (max-width: 428px) {
              font-size: 17px;
            }
          }
        }
        button {
          width: 177.52px;
          height: 88px;
          background: #23a6f0;
          border: none;
          font-family: Montserrat;
          font-size: 21px;
          font-weight: 400;
          color: white;
          text-align: center;
          border-radius: 0px 7.59px 7.59px 0px;
          @media (max-width: 428px) {
            width: 120px;
            height: 50px;
            font-size: 15px;
          }
          @media (max-width: 391px) {
            width: 80px;
            font-size: 12px;
          }
        }
      }
    }
    .Block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18pc;
      width: 100%;
      height: 463.12px;
      background: #f5f9fc;
      @media (max-width: 1280px) {
        gap: 10pc;
      }
      @media (max-width: 1115px) {
        gap: 5pc;
      }
      @media (max-width: 884px) {
        gap: 7pc;
      }
      @media (max-width: 428px) {
        height: 701px;
        padding-top: 60px;
        flex-direction: column;
        gap: 10px;
      }
      .block1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        @media (max-width: 428px) {
          gap: 10px;
        }
        h1 {
          font-family: Rubik;
          font-size: 32px;
          font-weight: 700;
          line-height: 37.92px;
          @media (max-width: 391px) {
            font-size: 27px;
          }
        }
        .description {
          display: flex;
          flex-direction: column;
          align-items: start;
          @media (max-width: 391px) {
            gap: 5px;
          }
          p {
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            @media (max-width: 391px) {
              line-height: 20px;
            }

            @media (max-width: 320px) {
              font-size: 13px;
            }
          }
          .round {
            display: flex;
            align-items: center;
            gap: 28px;
            h1 {
              width: 33.6px;
              height: 33.6px;
              background: #23a6f0;
              border-radius: 50%;
              @media (max-width: 391px) {
                width: 26px;
                height: 26px;
              }
            }
          }
        }
        span {
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          color: #afb5c0;
        }
      }
      .block2 {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        width: 630px;
        @media (max-width: 884px) {
          width: 400px;
          margin-top: 0;
          gap: 70px;
        }
        @media (max-width: 428px) {
          flex-wrap: wrap;
          width: 390px;
          gap: 40px;
        }
        @media (max-width: 391px) {
          flex-wrap: wrap;
          width: 320px;
          gap: 40px;
        }

        .block11 {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h1 {
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
            @media (max-width: 376px) {
              font-size: 15px;
            }
          }
          .texts {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            @media (max-width: 428px) {
              gap: 10px;
            }
            p {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              color: #4f5665;
              @media (max-width: 376px) {
                font-size: 15px;
              }
            }
          }
        }
        .block22 {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h1 {
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
            @media (max-width: 376px) {
              font-size: 15px;
            }
          }
          .texts {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            @media (max-width: 428px) {
              gap: 10px;
            }
            p {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              color: #4f5665;
              @media (max-width: 376px) {
                font-size: 15px;
              }
            }
          }
        }
        .block3 {
          display: flex;
          flex-direction: column;
          gap: 16px;
          @media (max-width: 376px) {
            width: 100px;
          }
          h1 {
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
            @media (max-width: 376px) {
              font-size: 15px;
            }
          }
          .texts {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            @media (max-width: 428px) {
              gap: 10px;
            }
            p {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              color: #4f5665;
              @media (max-width: 376px) {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
