.blockWindow {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  .saveText {
    padding: 40px 193px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    .saveIcons {
      position: relative;
      .seveic1 {
        width: 30px;
        height: 38px;
        color: #348bca;
      }
      .seveic2 {
        position: absolute;
        top: 11px;
        left: 7.8px;
        color: white;
        width: 15px;
        height: 15px;
      }
    }
    h5 {
      font-family: sans-serif;
      font-weight: 700;
      font-size: 34.95px;
      line-height: 40.96px;
      color: #348bca;
    }
  }
  .cardInputsAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35pc;
      width: 100%;
      height: 70px;
      background: #c9e7fd;
      p {
        font-family: Roboto;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 34.95px;
        line-height: 40.96px;
        color: #348bca;
      }
      .cardImg {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .blockInputs {
      padding: 0 0 0 123px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      .saveSelects {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 6px;
        p {
          font-family: sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 24.38px;
          span {
            color: red;
          }
        }
        select {
          padding: 0 20px;
          width: 1268px;
          height: 78px;
          gap: 10px;
          font-size: 20px;
          border-radius: 8px;
          border: 1px solid #00000091;
          option {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 20px;
            line-height: 24.38px;
            color: #000000fc;
          }
        }
      }
      .blockInputss {
        margin-top: 20px;
        display: flex;
        gap: 30px;
        .blockInput1 {
          display: flex;
          flex-direction: column;
          gap: 13px;
          .inputCardName {
            display: flex;
            flex-direction: column;
            gap: 6px;
            p {
              font-family: sans-serif;
              font-weight: 500;
              font-size: 20px;
              line-height: 24.38px;
              span {
                color: red;
              }
            }
            input {
              padding-left: 20px;
              width: 620px;
              font-size: 20px;
              height: 70px;
              border-radius: 8px;
              border: 1px solid #00000066;
            }
          }
          .inputCardNumber {
            display: flex;
            flex-direction: column;
            gap: 6px;
            p {
              font-family: sans-serif;
              font-weight: 500;
              font-size: 20px;
              line-height: 24.38px;
              span {
                color: red;
              }
            }
            input {
              padding-left: 20px;
              width: 620px;
              height: 70px;
              border-radius: 8px;
              font-size: 20px;
              border: 1px solid #00000066;
              &::placeholder {
                padding-left: 20px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .blockBtns22 {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .btn1 {
        width: 253.40126037597656px;
        height: 61.598777770996094px;
        border-radius: 10px;
        color: #348bca;
        border: 1px solid #348bca;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px;
        letter-spacing: -1%;
        text-align: center;
        background: none;
        cursor: pointer;
      }
      .btn2 {
        width: 253.40126037597656px;
        height: 61.598777770996094px;
        border-radius: 10px;
        background: #23a6f0;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.13px;
        text-align: center;
        color: #ffffff;
        border: none;
        cursor: pointer;
      }
    }
  }
}
